<template>
  <div
    class="input-field"
    :class="[wrapperStyle.class]"
    :style="[wrapperStyle.style]"
    :ref="name.toLowerCase()"
  >
    <i class="material-icons prefix" v-if="icon">{{ icon }}</i>

    <input
      v-if="fieldType === 'text'"
      :id="name.toLowerCase()"
      type="text"
      v-model="fieldValue"
      :class="[fieldStyle.class, displayError]"
      :style="[fieldStyle.style]"
      :disabled="isDisabled"
      :autocomplete="autoComplete ? 'on' : 'off'"
    />
    <input
      v-else-if="fieldType === 'number'"
      :id="name.toLowerCase()"
      type="text"
      v-model="fieldValue"
      :class="[fieldStyle.class, displayError]"
      :style="[fieldStyle.style]"
      :disabled="isDisabled"
      :autocomplete="autoComplete ? 'on' : 'off'"
    />
    <input
      v-else-if="fieldType === 'email'"
      :id="name.toLowerCase()"
      type="email"
      v-model="fieldValue"
      :class="[fieldStyle.class, displayError]"
      :style="[fieldStyle.style]"
      :disabled="isDisabled"
      :autocomplete="autoComplete ? 'on' : 'off'"
    />
    <label
      v-if="showLabel"
      :for="name.toLowerCase()"
      :class="{ active: fieldValue || placeholder }"
      >{{ label }}</label
    >
    <span class="helper-text" :data-error="error" data-success="Correct">{{
      helperText
    }}</span>
  </div>
</template>

<script>
export default {
  name: "InputField",
  props: {
    value: {
      type: [String, Number],
    },
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: false,
    },
    fieldType: {
      type: String,
      required: true,
    },
    showLabel: {
      type: Boolean,
      default: true,
      required: false,
    },
    placeholder: {
      type: String,
      required: false,
      default: "",
    },
    helperText: {
      type: String,
      required: false,
      default: "",
    },
    autoComplete: {
      type: Boolean,
      default: () => true,
    },
    wrapperStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },

    fieldStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    icon: {
      type: String,
      required: false,
    },
    error: {
      type: String,
      required: false,
    },
    groupTag: {
      type: String,
      default: () => "",
    },
    hasError: {
      type: Boolean,
      default: false,
    },
    isDisabled: {
      type: Boolean,
      default: false,
      reuqired: false,
    },
  },
  data() {
    return {
      isTyping: false,
      fieldValue: this.value,
    };
  },
  mounted() {
    this.addPlaceholder();
    this.addToGroup();
  },
  watch: {
    fieldValue: function () {
      this.allowOnlyNumber();
      this.updateValue();
    },
  },
  computed: {
    displayError() {
      if (this.isTyping) {
        if (this.hasError && this.error) {
          return "invalid";
        } else {
          return "valid";
        }
      }
    },
  },
  methods: {
    addToGroup() {
      if (this.groupTag) {
        const groupId = `#${this.groupTag}`;
        // console.log(`${this.name} => belongs to ${this.groupTag} group`);

        const group = document.querySelector(groupId);
        const groupItem = this.$refs[this.name.toLowerCase()];
        group.appendChild(groupItem);
      }
    },
    addPlaceholder() {
      if (this.placeholder) {
        const el = this.$el.querySelector(`#${this.name.toLowerCase()}`);
        el.placeholder = this.placeholder;
      }
    },
    allowOnlyNumber() {
      if (this.fieldType === "number") {
        this.fieldValue = this.fieldValue.replace(/[^0-9]/g, "");
      }
    },
    updateValue(event) {
      this.isTyping = true;
      // console.log(error, hasError);
      this.$emit("update", this.fieldValue);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>