<template>
  <div
    class="label_field"
    :class="[wrapperStyle.class]"
    :style="[wrapperStyle.style]"
    :ref="name.toLowerCase()"
  >
    <p
      v-if="showLabel"
      :class="[fieldStyle.class, fieldType.toLowerCase()]"
      :style="[fieldStyle.wrapper]"
    >
      {{ label }}
    </p>
  </div>
</template>

<script>
export default {
  name: "LabelField",
  props: {
    value: {
      type: [String, Number],
    },
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: false,
    },
    fieldType: {
      type: String,
      required: true,
    },
    showLabel: {
      type: Boolean,
      default: true,
      required: false,
    },
    placeholder: {
      type: String,
      required: false,
      default: "",
    },
    helperText: {
      type: String,
      required: false,
      default: "",
    },
    autoComplete: {
      type: Boolean,
      default: () => true,
    },
    wrapperStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },

    fieldStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    icon: {
      type: String,
      required: false,
    },
    error: {
      type: String,
      required: false,
    },
    groupTag: {
      type: String,
      default: () => "",
    },
    hasError: {
      type: Boolean,
      default: false,
    },
    isDisabled: {
      type: Boolean,
      default: false,
      reuqired: false,
    },
  },
  data() {
    return {
      isTyping: false,
      fieldValue: this.value,
    };
  },
  mounted() {
    this.addPlaceholder();
    this.addToGroup();
  },
  watch: {
    fieldValue: function () {
      this.allowOnlyNumber();
      this.updateValue();
    },
  },
  computed: {
    displayError() {
      if (this.isTyping) {
        if (this.hasError && this.error) {
          return "invalid";
        } else {
          return "valid";
        }
      }
    },
  },
  methods: {
    addToGroup() {
      if (this.groupTag) {
        const groupId = `#${this.groupTag}`;
        // console.log(`${this.name} => belongs to ${this.groupTag} group`);

        const group = document.querySelector(groupId);
        const groupItem = this.$refs[this.name.toLowerCase()];
        group.appendChild(groupItem);
      }
    },
    addPlaceholder() {
      if (this.placeholder) {
        const el = this.$el.querySelector(`#${this.name.toLowerCase()}`);
        el.placeholder = this.placeholder;
      }
    },
    allowOnlyNumber() {
      if (this.fieldType === "number") {
        this.fieldValue = this.fieldValue.replace(/[^0-9]/g, "");
      }
    },
    updateValue(event) {
      this.isTyping = true;
      // console.log(error, hasError);
      this.$emit("update", this.fieldValue);
    },
  },
};
</script>

<style lang="scss" scoped>
.label_field {
  .section-head {
    font-size: 1.4em;
    font-weight: 600;
  }

  .desc,
  .description {
    font-size: 1em;
    font-style: italic;
  }
}
</style>