<template>
  <div class="form-builder">
    <div class="form-field-wrapper" v-for="(field, key) in schemaX" :key="key">
      <div
        class="card col s12 white"
        v-if="field.type === 'group_field'"
        :id="field.group.tag"
      ></div>
      <label-field
        v-if="
          field.type === 'label_field' &&
          (field.condition
            ? form[field.condition.key] === field.condition.value
              ? true
              : false
            : true)
        "
        :name="key"
        v-bind="{ ...field }"
      ></label-field>
      <input-field
        v-if="
          field.type === 'input_field' &&
          (field.condition
            ? form[field.condition.key] === field.condition.value
              ? true
              : false
            : true)
        "
        :name="key"
        v-bind="{ ...field }"
        :value="value[key] ? value[key] : schemaX[key].value"
        :hasError="$v.form[key].$error"
        :error="errorMessages[key]"
        @update="update(key, $event)"
      ></input-field>
      <select-field
        v-if="
          field.type === 'select_field' &&
          (field.condition
            ? form[field.condition.key] === field.condition.value
              ? true
              : false
            : true)
        "
        :name="key"
        v-bind="{ ...field }"
        :value="value[key] ? value[key] : schemaX[key].value"
        :hasError="$v.form[key].$error"
        :error="errorMessages[key]"
        @update="update(key, $event)"
      ></select-field>
      <checkbox-field
        v-if="
          field.type === 'checkbox_field' &&
          (field.condition
            ? form[field.condition.key] === field.condition.value
              ? true
              : false
            : true)
        "
        :name="key"
        v-bind="{ ...field }"
        :value="value[key] ? value[key] : schemaX[key].value"
        :hasError="$v.form[key].$error"
        :error="errorMessages[key]"
        @update="update(key, $event)"
      ></checkbox-field>
      <radio-field
        v-if="
          field.type === 'radio_field' &&
          (field.condition
            ? form[field.condition.key] === field.condition.value
              ? true
              : false
            : true)
        "
        :name="key"
        v-bind="{ ...field }"
        :value="value[key] ? value[key] : schemaX[key].value"
        :hasError="$v.form[key].$error"
        :error="errorMessages[key]"
        @update="update(key, $event)"
      ></radio-field>
    </div>
  </div>
</template>

<script>
import { validationRules } from "./ValidationParser";
// import InputField from "./fields/InputField.vue";

import InputField from "./fields/InputField.vue";
import SelectField from "./fields/SelectField.vue";
import RadioField from "./fields/RadioField.vue";
import CheckboxField from "./fields/CheckboxesField.vue";
import LabelField from "./fields/LabelField.vue";
// import M from "materialize-css";
export default {
  name: "FormBuilder",
  components: {
    InputField,
    SelectField,
    CheckboxField,
    RadioField,
    LabelField,
  },
  props: {
    schema: {
      type: Object,
      required: true,
    },
    value: {
      type: Object,
      required: true,
    },
    isStepper: {
      type: Boolean,
      default: false,
      required: false,
    },
    stepperData: {
      type: Object,
      required: true,
    },
    currentStep: {
      type: [Number, String],
      required: true,
    },
    editMode: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      form: {},
      // currentStep: this.stepperData.currentStep,
      vSchema: this.schema,
      nonFieldsFilterList: ["label_field", "group_field"],
      stepList: {},
    };
  },
  created() {
    this.getFormFields();
  },
  mounted() {
    this.getStepList();

    // setTimeout(function () {
    //   M.updateTextFields();
    //   console.log("i am being called");
    // }, 5000);
  },

  validations() {
    return { form: validationRules(this.schema) };
  },
  watch: {
    currentStep: function () {
      this.announceStepStatus();
      this.announceStatus();
    },
  },
  computed: {
    /**
     * Filter Schema based on current step
     */
    schemaX: function () {
      if (this.isStepper) {
        var results = {};
        Object.keys(this.schema).filter((key) => {
          if (this.schema[key].step === this.currentStep) {
            results[key] = this.schema[key];
          }
        });

        return results;
      }

      return this.schema;
    },

    /**
     * Gets the validation error message
     * @returns object with error message
     */
    errorMessages: function () {
      const validations = this.$v.form;

      return Object.keys(this.schema).reduce((messages, key) => {
        const rules = this.schema[key].validations;
        const rulesKeys = Object.keys(this.schema[key].validations);
        const validator = validations[key];

        if (!validator) return messages;

        for (let rule of rulesKeys) {
          if (validator[rule] !== false) continue;

          messages[key] = rules[rule].message;
          return messages;
        }

        return messages;
      }, {});
    },
  },
  methods: {
    /**
     *  Gets total number of step by looping through schema
     */
    getStepList() {
      this.stepList = Object.values(this.schema).reduce(function (
        result,
        item
      ) {
        result[item.step] = item.step;
        return result;
      },
      {});
    },
    /**
     * Loops through schema and each field of form  (this.form)
     */
    getFormFields() {
      if (this.editMode) {
        for (let key in this.value) {
          const value = this.value[key];
          // console.log(value);
          this.$set(this.form, key, value);

          // this.update(name, value, this.schema[name].isConditional);
        }
      } else {
        for (let name in this.schema) {
          // Adds flied to this.form object || Using Vue.set to ensure that they are reactive
          if (!this.nonFieldsFilterList.includes(this.schema[name].type)) {
            // Get default value from scheme
            const value = this.schema[name].value;

            this.$set(this.form, name, value);

            this.update(name, value);
          }
        }
      }
    },

    /**
     * Updates the specified field value in form (this.form)
     */
    update(key, value) {
      // Revalidates each field, ensuring that the rules are run on the specified field
      // and the specified state is updated within $v

      // Updates field value
      this.$set(this.form, key, value);

      // Revalidates each field, ensuring that the rules are run on the specified field
      // and the specified state is updated within $v
      this.$v.form[key].$touch();

      // Set invalid property of schema
      this.$set(this.vSchema[key], "invalid", this.$v.form[key].$invalid);

      this.$emit("input", this.form);

      this.announceStatus();

      this.announceStepStatus();
    },
    /**
     * Validates entire form
     */
    validate() {
      this.$v.$touch();
      this.announceStatus();
    },

    /**
     * Emits the overall status of form
     */
    announceStatus() {
      // console.log(this.vSchema);

      // Get number of fields from schema
      const schemaLen = Object.keys(this.schema).filter(
        (key) => !this.nonFieldsFilterList.includes(this.schema[key].type)
      ).length;

      // Gets number of valid field from vSchema
      const vLen = Object.keys(this.schema).filter(
        (key) =>
          this.vSchema[key].invalid === false &&
          !this.nonFieldsFilterList.includes(this.schema[key].type)
      ).length;

      this.$emit("status", {
        invalid: !(vLen >= schemaLen),
      });
    },

    /**
     * Emits the current step status
     */
    announceStepStatus() {
      if (!this.isStepper) return;
      this.$emit("stepStatus", {
        stepStatus: this.stepValidator(),
        canNext: this.canNext(),
        canPrev: this.canPrev(),
        // currentStep: this.currentStep,
      });
    },
    /**
     * Goes to next step
     */
    nextStep() {
      if (!this.isStepper) return;

      if (
        !this.stepValidator() ||
        this.currentStep >= this.stepperData.finalStep
      )
        return;
      this.currentStep++;

      this.announceStepStatus();
    },

    /**
     * Goes to previous step
     */
    prevStep() {
      if (this.currentStep <= this.stepperData.initialStep) return;
      this.currentStep--;

      this.announceStepStatus();
    },
    /**
     * Determines whether user can go to next step
     */
    canNext() {
      if (!this.isStepper) return;

      return this.stepValidator() &&
        this.currentStep < Object.keys(this.stepList).length
        ? true
        : false;
    },

    /**
     * Determines whether user can go to previous step
     */
    canPrev() {
      if (!this.isStepper) return;
      return this.currentStep <= Object.keys(this.stepList).length &&
        this.currentStep !== 1
        ? true
        : false;
    },
    stepValidator() {
      if (!this.isStepper) return;

      // Get number of fields from schema for current step
      const schemaLen = Object.keys(this.schemaX).filter(
        (key) => !this.nonFieldsFilterList.includes(this.schema[key].type)
      ).length;

      // Gets length of all valid field in current step
      const vLen = Object.keys(this.schemaX).filter(
        (key) => this.vSchema[key].invalid === false
      ).length;

      // Is all the field in current step valid?
      return vLen >= schemaLen;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>