<template>
  <div id="app">
    <div class="row">
      <div class="impact-level-container">
        <div class="text">Impact Level: {{ impactLevel }}</div>
      </div>

      <form-builder
        ref="loanForm"
        :schema="schema"
        v-model="form"
        :stepper-data="stepper"
        @status="saveStatus"
        @stepStatus="updateStepStatus"
        :current-step="currentStep"
        isStepper
      />
    </div>

    <!-- <form action ref="loanFormer"></form> -->
    <div
      class="btn waves-effect green"
      :class="{ disabled: !stepper.canPrev }"
      style="margin-right: 20px"
      @click="
        () => {
          currentStep--;
        }
      "
    >
      Prev Step
    </div>
    <div
      class="btn waves-effect blue"
      :class="{ disabled: status.invalid }"
      @click="submit()"
    >
      Send
    </div>
    <div
      class="btn waves-effect green"
      :class="{ disabled: !stepper.canNext }"
      style="margin-left: 20px"
      @click="
        () => {
          currentStep++;
        }
      "
    >
      Next Step
    </div>

    <div>
      {{ form }}
    </div>

    <!-- <conditional-select-multi-field name="test" v-bind="{...computer}" /> -->
  </div>
</template>

<script>
import "@/sass/_main.scss";
import FormBuilder from "@/components/formBuilder/FormBuilder.vue";
import { schema, impactLevelGenerator } from "./schemas/FormSchema.js";
// import M from "materialize-css";
const formObject = {
  firstName: "paul@dev.com",
  age: "Option 1",
  multiple: ["Option 2"],
  date: "Jul 08, 2020",
  computer: { yes: "adawdwadwadwada" },
  assist: {
    training: { checked: true, value: "waawdwdwadwa" },
    technicalAssistance: { checked: true, value: "awdwadwadaw" },
  },
};

export default {
  name: "App",
  components: {
    FormBuilder,
  },
  data() {
    return {
      schema,
      status: {
        invalid: false,
      },
      form: {},
      currentStep: 1,
      stepper: {
        stepStatus: false,
        canPrev: false,
        canNext: false,
      },

      impactLevel: "",
    };
  },
  mounted() {
    this.$_getStepFromUrl();
    // if (this.$route.path.query) {
    //   console.log("jello");
    // }
  },
  watch: {
    form: function () {
      // console.log(this.form);
    },
  },

  computed: {},
  methods: {
    $_getStepFromUrl() {
      // console.log(window.location.search);
      const params = new URLSearchParams(window.location.search);
      if (params.has("step")) {
        this.currentStep = parseInt(params.get("step"));
      }
    },
    saveStatus(status) {
      Object.assign(this.status, status);
      this.getImpactLevel();
    },
    submit() {
      this.$refs.loanForm.validate();
      if (this.status.invalid) return;
      console.log(this.form);
    },
    updateStepStatus(stepInfo) {
      // console.log(stepStatus);
      Object.assign(this.stepper, stepInfo);
    },
    getImpactLevel() {
      this.impactLevel = impactLevelGenerator(this.schema, this.form);
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  // margin-top: 60px;

  .impact-level-container {
    margin: 1rem 0 2rem 0;
    padding: 0 1rem;
    .text {
      font-weight: 600;
      font-size: 1.5em;
    }
  }
}
</style>
